%h1 Listing employee_emails

%table
  %thead
    %tr
      %th Employee
      %th Email
      %th
      %th
      %th

  %tbody
    - @employee_emails.each do |employee_email|
      %tr
        %td= employee_email.employee
        %td= employee_email.email
        %td= link_to 'Show', employee_email
        %td= link_to 'Edit', edit_employee_email_path(employee_email)
        %td= link_to 'Destroy', employee_email, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Employee email', new_employee_email_path
