= form_for @court do |f|
  - if @court.errors.any?
    #error_explanation
      %h2= "#{pluralize(@court.errors.count, "error")} prohibited this court from being saved:"
      %ul
        - @court.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :adress
    = f.text_field :adress
  .field
    = f.label :employee
    = f.text_field :employee_id
  .actions
    = f.submit 'Save'
