%p#notice= notice

%p
  %b Name:
  = @court.name
%p
  %b Address:
  = @court.address
%p
  %b Employee working:
  = @court.employee_working

= link_to 'Edit', edit_court_path(@court)
\|
= link_to 'Back', courts_path
